.contact-title{
    background:red;
}


.contact-container{
    margin-top:100px;
    h2{
        font-size: 2.5rem;
        color: #0b83ff;
        
    }
    
    h7{
        font-size: 1.1rem;
        color: #8f9ba8;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom:   5.5rem;
    
    }
}

