#skills>span>div.sol {
    @media (min-width: 768px) {
        width: 570px;
        height: 570px; 
        background:radial-gradient(circle at center, rgb(0, 0, 0) 0%, rgba(27, 27, 27, 0.137) 40%, rgb(219, 210, 255) 100%)
    }


}

#skills>span>div.circulo>span {
    @media (min-width: 768px) {
        width: 90px;
        height: 90px;
        border-radius: 20%;
    }

    @media (min-width: 1280px) {
        width: 90px;
        height: 90px;
        border-radius: 20%;
    }
}


#skills>span>div.container-texto {
    @media (min-width: 768px) {

        position: relative;
        top: -22vh;
        font-size: 55px;

    }
}