/*-----------------HOME-----------------------*/
.home {
  max-width: 980px;
  margin: auto;
  display: flex;
  padding-top: 280px;
  align-content: center;
  z-index: 10;
  position: relative;

  @media(max-width:800px){
    padding-top:18vh;
  }
}

.home .left {
  margin-right: 40px;
  margin-left: 15px;
  height: min-content;
}

.home .left div {
  opacity: 0;
  background: #0d0d0d;
  margin: 10px 0;
  border-radius: 999px;
  width: 45px;
  height: 45px;
  display: grid;
  place-items: center;
  outline: 2px solid #1b1b1b;
  transition: all 100ms ease;

  &>a {
    width: 23px;
    display: grid;
    place-items: center;
    height: 23px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.home .left div:nth-child(3) {
  a {
    width: 21px;
    height: 21px;
  }
}

.home .left div:hover {
  outline: 2px solid #3d3d3d;
  background: #00142d;
  cursor: pointer;
}

.home .right {
  display: flex;
}

.home .right .right-texto {
  margin-right: 50px;
  z-index: 10;
}

div.about-container>div.container-right>.cv {
  opacity: 0;
}

.right-texto .texto-nombre {
  font-size: 60px;

  @media (max-width: 900px) {}
}

.texto-dev {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
  opacity: 0;

  @media (max-width: 900px) {
    position: relative;
    right: 15%;
  }
}

.texto-dev .linea {
  width: 50px;
  height: 1px;
  background: rgb(211, 211, 211);
  display: inline-block;
  margin: 0 10px;
}

.right-texto .texto-dev2 {
  margin-bottom: 10px;
  opacity: 0;
  padding-right: 10px;
}

.right-texto>a {
  margin-top: 40px;
  background: rgb(51 51 51);
  border-radius: 10px;
  opacity: 0;
  cursor: pointer;
  height: min-content;
  display: inline-block;
}

.right-texto>a:hover {
  background: rgb(24, 23, 23);
}

.right-texto .texto-boton {
  padding: 10px 30px;
  display: inline-block;
  color: white;
  transition: background-color 0.3s;
  position: relative;
  overflow: hidden;

}

/*
  .right-texto .texto-boton::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    height: 180px;
    width: 30px;
    background: linear-gradient(lightblue, white);
    animation: bordes 4s ease-in infinite;
    z-index: 1;
  }*/

.right-texto .texto-boton::after {
  content: "";
  position: absolute;
  display: inline-block;
  z-index: 4;
  background: black;
  inset: 3px;
  border-radius: 5px;
}

@keyframes bordes {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.texto-boton .more {
  position: relative;
  z-index: 10;
}

.texto-boton .icon {
  position: relative;
  z-index: 10;
}

.right-texto .texto-boton .icon {
  margin-left: 4px;
}

.right-texto .texto-boton .icon svg {
  fill: white;
}

.home .right .right-image {
  background: url("./assets/images/animated_jaymeAlejoLino.png") no-repeat center;
  animation: profile ease-in 8s infinite 1s, toIzq ease-in 500ms forwards 500ms;
  height: 150px;
  width: 150px;
  background-size: cover;
  filter: grayscale(85%);
  transition: all 1s;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  opacity: 0;
}

.home .right .right-image:hover {
  filter: grayscale(0%);
}


.ondas {
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 2;
}

.ondas svg {
  fill: rgb(30, 135, 255);
  width: 100%;
  transform: rotate(180deg);
  display: block;
  height: 150px;
}


@media screen and (min-width: 650px) {
  .headerMenu {
    display: none;
  }

  .home .right .right-image {
    width: 300px;
    height: 300px;
  }
}