.iconPerfil {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    outline: 2px solid #2e92e9;
    border: 2px solid #2e92e9;
    transition: all 200ms ease;


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;


    }
}