
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  position: relative;
  overflow: hidden;
  background: inherit;
  padding-bottom: 70px;
}

.footer-name {
  margin-bottom: 50px;
  z-index: 10;
  font-size: 30px;
  font-weight: 800;

}

.footer-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 70px;
  width: 300px;
  z-index: 10;
}

.footer-list>div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.footer .copyright {
  z-index: 10;
  margin-bottom: 10px;
}

.footer .footer-circles {
  list-style: none;
  position: absolute;
  top: 0;
  height: 150%;
  width: 100%;
  z-index: 1;
}

.footer .footer-circles li {
  filter: blur(10px);
}

.footer .footer-circles li:nth-child(1) {
  height: 120px;
  width: 120px;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  background: rgb(0, 174, 255);
  animation: anim1 5s linear infinite;
  animation-delay: 3s;
  position: absolute;
  left: 10vw;
  bottom: 20px;
}

.footer .footer-circles li:nth-child(2) {
  height: 80px;
  width: 80px;
  border-radius: 20% 40% 20%;
  background: rgb(0, 174, 255);
  animation: anim1 5s linear infinite;
  position: absolute;
  animation-delay: 4s;
  left: 30vw;
  bottom: 50px;
}

.footer .footer-circles li:nth-child(3) {
  height: 40px;
  width: 40px;
  border-radius: 20% 40% 20%;
  background: rgb(0, 174, 255);
  animation: anim1 3s linear infinite;
  position: absolute;
  animation-delay: 2s;
  left: 60vw;
  bottom: 100px;
}

.footer .footer-circles li:nth-child(4) {
  height: 50px;
  width: 50px;
  border-radius: 20% 40% 20%;
  background: rgb(0, 174, 255);
  animation: anim1 5s linear infinite;
  position: absolute;
  animation-delay: 15s;
  left: 90vw;
  bottom: 50px;
}